<html lang="en">
<head>
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>
</header>
<main>
    {{{body}}}
</main>

<footer>
<p>&copy; Gad. All rights reserved.</p>
</footer>
</body>
</html>